
:root {
    --color-primaria-1: #BB7330;
    --color-primaria-2: #91653D;
    --color-primaria-3: #E67814;
    --color-primaria-4: #66503C;
    --color-primaria-5: #3C342D;
    --color-primaria-6: #33302D;
    --color-footer: #0b0805;
    --color-preto:
    #000000;
    --color-branco:
    #fff;
}