.conteudo-introducao{
    background-color: azure;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 40px;
    align-items: center;
}

.conteudo-introducao-titulo{
    padding: 10px;
    font-size: 2rem;
}

.conteudo-introducao-imagem{
    position: relative;
    width: 68%;
}

.conteudo-introducao-texto{
    font-size: 1.5rem;
}

.conteudo-projeto-principal{
    background-color: azure;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 40px;
    align-items: center;
}

.conteudo-projeto-principal-titulo{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.conteudo-projeto-principal-textos{
    margin: 100px;
    margin-top: 0px;
    border: 0.6px solid var(--color-primaria-1);
    padding-bottom: 20px;
}

.conteudo-projeto-principal-subtitulo{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.conteudo-projeto-principal-texto{
    font-size: 1.5rem;
    margin: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

.conteudo-projeto-secundario{
    background-color: azure;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 40px;
    align-items: center;
}

.conteudo-projeto-secundario-titulo{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 20px;
}

.conteudo-projeto-secundario-p{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 40px;
}

.conteudo-projeto-secundario-subtitulo{
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    margin: 20px;
}

.item-fun-1 {
    display: flex;
    background-color: white;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 40px;
    align-items: center;
}

.item-fun img {
    width: 100%; /* Ajusta a largura da imagem */
    height: auto;
    object-fit: cover; /* Garante que a imagem não distorça */
    max-height: 300px; /* Limita a altura das imagens */
    border-radius: 8px;
}


.fig{
    font-size: 1.3rem;
    color: var(--color-neutral-9);
    display: flex;
    justify-content: center;
}

.espacamento{
    padding: 20px;
}

.item-fun-2 {
    display: flex;
    background-color: white;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 40px;
    align-items: center;
}

.conteudo-projeto-terciario{
    background-color: azure;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 40px;
    align-items: center;
}

@media screen and (max-width: 1170px){
    .conteudo-introducao{
        display: flex;
        flex-direction: column;
    }
    
    .conteudo-introducao-imagem{
       display: none;
    }
}